<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="printDpi" value="100"/>
    <add key="showDpi" value="150"/>
    <!--fastreport生成的配FrMain、原生画出来配FrBarCode-->
    <add key="startProgram" value="FrMain"/>
  </appSettings>
</configuration>